<div class="fixed flex flex-column w-full h-full layout1">
	<app-visor-header></app-visor-header>
    <app-visor-map></app-visor-map>
    <div class="grid grid-nogutter h-full">
		<div class="flex justify-content-start col-4" style="height: 50%">

		</div>
		<div class="flex justify-content-center col-4" style="height: 50%">

		</div>
		<div class="flex justify-content-end col-4" style="height: 50%">

		</div>
		<div
			class="flex align-items-end justify-content-start col-4"
			style="height: 50%"
		>
		</div>
		<div
			class="flex align-items-end justify-content-center col-4"
			style="height: 50%"
		>
		</div>
		<div
			class="flex align-items-end justify-content-end col-4"
			style="height: 50%"
		>
		</div>
	</div>
    <app-visor-notifications class="z-1"></app-visor-notifications>
    <app-visor-sidebar></app-visor-sidebar>
</div>